{% include head.html %}
{% include header.html %}

<!-- Asignar los datos desde el CSV -->
{% assign reporting_data = site.data.progreso %}

<div id="main-content" class="container reportingstatus" role="main">
  <!-- Introducción -->
  <div>
    {% include components/reporting-status-introduction.html %}
  </div>

  <!-- Reporte general -->
  <div>
    {% assign overall_data = reporting_data | where: "goal", "overall" %}
    {% assign overall_totals = overall_data | map: "count" | sum %}
    {% assign indicators_plural = page.t.general.indicators | downcase %}

    <div class="goal goal-overall">
        <div class="frame goal-tiles">
            <img src="{{ site.baseurl }}/assets/img/SDG Wheel_Transparent-01.png" alt="{{ page.t.general.sdg }}" width="100" height="100" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </div>
        <div class="details">
            <h2 class="status-goal">
                {{ page.t.status.overall_reporting_status }}
            </h2>
            <span class="total"><span>{{ overall_totals }}</span> {{ indicators_plural }}</span>
            {% if overall_totals > 0 %}
            <div class="summary">
                <div class="statuses">
                    {% for row in overall_data %}
                    <div>
                        <span class="status {{ row.status | slugify }}">
                            <span class="status-inner">{{ row.count }}</span>
                        </span>
                        <strong>{{ row.status }}</strong>
                        <span class="value">{{ row.percentage | round }}%</span>
                    </div>
                    {% endfor %}
                    <br style="clear:both;">
                </div>
            </div>
            <div class="goal-stats">
                {% for row in overall_data %}
                <span class="{{ row.status | slugify }}" style="width:{{ row.percentage }}%" title="{{ row.status }}: {{ row.percentage | round }}%"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br style="clear:both;">
    </div>
  </div>

  <!-- Reporte por objetivo -->
  <div>
    <h2>{{ page.t.status.status_by_goal }}</h2>
    {% assign goals_data = reporting_data | where_exp: "item", "item.goal != 'overall'" %}
    {% assign grouped_goals = goals_data | group_by: "goal" %}

    {% for goal in grouped_goals %}
    {% assign goal_data = goal.items %}
    {% assign goal_info = goal_data | first %}
    {% assign goal_number = goal.name %}
    {% assign goal_details = goal_number | strip | sdg_lookup %}
    {% assign total_indicators = goal_data | map: "count" | sum %}

    <div class="goal reporting-status-item">
        <div class="frame goal-tiles">
            <a href="{{ goal_details.url }}" title="{{ page.t.goal.indicators_for_goal }} {{ goal_details.number }}" aria-label="{{ page.t.goal.indicators_for_goal }} {{ goal_details.number }}">
            <img src="{{ goal_details.icon }}" alt="{{ goal_details.short | escape }}" width="100" height="100" class="goal-icon-{{ goal_details.number }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
            </a>
        </div>
        <div class="details">
            <h3 class="status-goal">
                <a href="{{ goal_details.url }}">{{ goal_details.short }}</a>
            </h3>
            <span class="total">{{ total_indicators }} {{ indicators_plural }}</span>
            {% if goal_data | size > 0 %}
            <div class="summary">
                <div class="statuses">
                    {% for row in goal_data %}
                    <div>
                        <span class="status {{ row.status | slugify }}">
                            <span class="status-inner">{{ row.count }}</span>
                        </span>
                        <strong>{{ row.status }}</strong>
                        <span class="value">{{ row.percentage | round }}%</span>
                    </div>
                    {% endfor %}
                    <br style="clear:both;">
                </div>
            </div>
            <div class="goal-stats">
                {% for row in goal_data %}
                <span class="{{ row.status | slugify }}" style="width:{{ row.percentage }}%" title="{{ row.status }}: {{ row.percentage | round }}%"></span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <br style="clear:both;">
    </div>
    {% endfor %}
  </div>

  {% include back-to-top.html %}
</div>
{% include footer.html %}
