{% include head.html %}
{% include header.html %}

{% assign reporting_data = site.data.progreso %}

<div id="main-content" class="container reportingstatus" role="main">
  <!-- Introducción -->
  <div>
    {% include components/reporting-status-introduction.html %}
  </div>

  <!-- Reporte general -->
  <div>
    {% assign overall_data = reporting_data | where: "goal", "overall" %}
    <div class="goal goal-overall">
        <div class="frame goal-tiles">
            <img src="{{ site.baseurl }}/assets/img/SDG Wheel_Transparent-01.png" alt="{{ page.t.general.sdg }}" width="100" height="100" class="goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
        </div>
        <div class="details">
            <h2 class="status-goal">
                {{ page.t.status.overall_reporting_status }}
            </h2>
            <span class="total"><span>{{ overall_data | first | map: "count" | sum }}</span> {{ page.t.general.indicators | downcase }}</span>
            <div class="summary">
                <div class="statuses">
                    {% for status in overall_data %}
                    <div>
                        <span class="status {{ status.status | slugify }}"><span class="status-inner">{{ status.count }}</span></span>
                        <strong>{{ status.status }}</strong>
                        <span class="value">{{ status.percentage }}%</span>
                    </div>
                    {% endfor %}
                    <br style="clear:both;">
                </div>
            </div>
            <div class="goal-stats">
                {% for status in overall_data %}
                <span class="{{ status.status | slugify }}" style="width:{{ status.percentage }}%" title="{{ status.status }}: {{ status.percentage }}%"></span>
                {% endfor %}
            </div>
        </div>
        <br style="clear:both;">
    </div>
  </div>

  <!-- Reporte por objetivo -->
  <div>
    <h2>{{ page.t.status.status_by_goal }}</h2>
    {% assign goals_data = reporting_data | where_exp: "item", "item.goal != 'overall'" %}
    {% assign grouped_goals = goals_data | group_by: "goal" %}
    {% for goal in grouped_goals %}
    <div class="goal reporting-status-item">
        <div class="frame goal-tiles">
            <a href="#" title="{{ page.t.goal.indicators_for_goal }} {{ goal.name }}" aria-label="{{ page.t.goal.indicators_for_goal }} {{ goal.name }}">
            <img src="{{ goal.items | first | map: "icon" | first }}" alt="{{ page.t.general.goal }} {{ goal.name }}" width="100" height="100" class="goal-icon-{{ goal.name }} goal-icon-image goal-icon-image-{{ site.goal_image_extension }}"/>
            </a>
        </div>
        <div class="details">
            <h3 class="status-goal">
                {{ page.t.general.goal }} {{ goal.name }}
            </h3>
            <span class="total">{{ goal.items | map: "count" | sum }} {{ page.t.general.indicators | downcase }}</span>
            <div class="summary">
                <div class="statuses">
                    {% for status in goal.items %}
                    <div>
                        <span class="status {{ status.status | slugify }}"><span class="status-inner">{{ status.count }}</span></span>
                        <strong>{{ status.status }}</strong>
                        <span class="value">{{ status.percentage }}%</span>
                    </div>
                    {% endfor %}
                    <br style="clear:both;">
                </div>
            </div>
            <div class="goal-stats">
                {% for status in goal.items %}
                <span class="{{ status.status | slugify }}" style="width:{{ status.percentage }}%" title="{{ status.status }}: {{ status.percentage }}%"></span>
                {% endfor %}
            </div>
        </div>
        <br style="clear:both;">
    </div>
    {% endfor %}
  </div>

  {% include back-to-top.html %}
</div>
{% include footer.html %}
