{% include head.html %}
{% include header.html %}

{% assign reporting_data = site.data[page.language].reporting | default: site.data.reporting %}

<div id="main-content" class="container reportingstatus" role="main">
  <!-- Introducción -->
  <div>
    {% include components/reporting-status-introduction.html %}
  </div>

  <!-- Reporte general -->
  <div>
    {% include components/reportingstatus/reporting-status-overall.html 
       overall=reporting_data.overall 
       title=page.t.status.overall_reporting_status 
       status_types="reporting_status" %}
  </div>

  <!-- Reporte por objetivo -->
  <div>
    {% include components/reportingstatus/reporting-status-by-goal.html 
       goals=reporting_data.goals 
       title=page.t.status.status_by_goal 
       status_types="reporting_status" %}
  </div>

  </div>
  {% include back-to-top.html %}
</div>
{% include footer.html %}
